
//base

//login
$login-background-color : #BCDCFF;
$login-background-stripes-width: 25px;
$login-background-stripes-darking: 5%;
$login-background: repeating-linear-gradient(
  45deg,
  $login-background-color,
  $login-background-color $login-background-stripes-width,
  darken($login-background-color,$login-background-stripes-darking) $login-background-stripes-width,
  darken($login-background-color,$login-background-stripes-darking) 2*$login-background-stripes-width
);
$login-form-background-color : white;

//main-sidenav
$main-sidenav-content-text-color: gray;

//main-menu
$main-menu-active-transition : all linear 0.3s;
$main-menu-active-color : white;
$main-menu-active-background-color : #BDBDBD;
$main-menu-active-font-style : italic;


