<md-sidenav 
    class="md-sidenav-left" 
    md-is-locked-open="$ctrl.open" 
    md-whiteframe="6"
    layout="column">
    <md-toolbar>
        <h1>{{$ctrl.title}}</h1>
    </md-toolbar>
    <md-content layout="column" flex>
        <h1>User Profile</h1>
        <md-content flex>
            <ul>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
            </ul>
        </md-content>
    </md-content>    
</md-sidenav>